@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


:root {
 --sameHeight:1000px
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background: linear-gradient(rgba(1, 16, 24, 0.589),rgba(1, 16, 24, 0.589)),url('../images/backGround1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;    
}

body{
    color:white;
    background-size: cover;
}


.header{
    height: 10%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 99;
    width: 100%;
}

.inner-header{
    width: 100vw;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    }

.logo{
    font-family:'Assistant',sans-serif;
    font-weight: 900;
    font-size: min(1.8em);
    color: white;
    line-height: 80px;/* same as parents height */
    letter-spacing: 5px;
    margin-left: 20px;
}

.nav{
    align-self: center;
    display: flex;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color:white;
    font-family: 'Poppins',sans-serif;
}

.nav ul li a:hover{
    color:rgb(255, 62, 111);
}

.ham-container{
    display: none;
}


.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items:center;
}

.hello_img{
    background-image: url('../images/hello.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
    width: 80vw;
    background-position: center;
}

.who_am_i{
    color:skyblue;
    font-family:'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 44px;
    max-width: 800px;
    text-align: center;
}

.section{
    text-align: center;
    display: flex;
    margin-top: 0px;
}

/*whole title box*/
.section-title-box{
    width: 35%;
    padding-top: 50px;
    padding-right: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* inner box containing num name and desc only*/
.section-title-box>div{
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    position: -webkit-sticky;
    top:80px;
    padding-bottom: 50px;
    padding-right: 30%;
    width: 300px;
}

.section-content-box{
    background-color: rgb(19, 18, 18);
    width: 65%;
    align-self: center;
}

.content-num{
    display: inline-block;
    text-decoration: overline;
    text-decoration-color: rgb(0, 214, 214);
    font-family: 'Poppins',sans-serif;
    transform: rotate(90deg);
    font-weight: 900;
    font-size: 4rem;
    margin: 30px 0px 0px 0px;
}
.content-name{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 200;
    // word-break: break-all;
    line-height: 75px;
    text-align: end;
}

.content-desc{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin:20px 0px 0px 0px;
    text-align: end;
}
// styling above this should not be edited


.about-me{
    background-color: #fdb020;
}

.about-me .section-content-box{
    background-color: #ff9900;
    padding: 40px;
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    justify-content: space-evenly;
}


.portfolio{
    background-color: rgb(253, 52, 109);
}


.portfolio .section-content-box{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(255, 0, 72);
}

.radio-buttons{
    position: relative;
    align-self: center;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    bottom: 50px;
}

.radio-buttons>div{
height: 15px;
width: 15px;
// background:linear-gradient(rgb(150, 0, 0),red,orange,yellow);
background-color: white;
border-radius:40%;
cursor: pointer;
}

.radio-buttons>div:hover{
    background-color: #ff004c;
    box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
}

.slider-box{
    /* background:linear-gradient(red, blue,green); */
    height: 600px;/*should be in px*/
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 1s ease-in;
}


.card{
    height: 70%;
    width: 65vw;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.img{
    height: 90%;
    width: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
}


.project1 .img{
    background-image: url('./imageSlider/1.jpg');
}

.project2 .img{
    background-image: url('./imageSlider/2.jpg');
    
}

.project3 .img{
    background-image: url('./imageSlider/3.jpg');
}

.project4 .img{
    background-image: url('./imageSlider/4.jpg');

}


.skills-list{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Number Percents inside span tag*/
.skills-list span{
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    font-size: 48px;
    margin-left: 5%;
}

.skills-list>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px 20px 0px;
    
}

.my-skills{
    background-color: rgb(71, 89, 255);
    
}

.my-skills .section-content-box{
    
    background-color: rgb(53, 68, 199);

}
/*skill names div tag*/
.my-skills .section-content-box .skills-list>div>div{
    margin-left: 5%;
    margin-right: 10%;
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    font-weight: 500;
    width: 70%;
    height:50px;
    text-align: start;
    
}

.skill{
    width: 100%;
    height: 3px;
    background-color: rgba(202,202,202,.3);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.skill-fill{
    width: 100%;
    height: 7px;
    background-color: rgb(255, 255, 255);
    line-height: 3px;
}

/* Contact form*/

.contact-me{
    background-color: rgb(255, 89, 59);
}

.contact-me .section-content-box{
    background-color: rgb(255, 62, 28);
}

.contact-form form{
    padding:10%;
    display: flex;
    flex-direction: column;
}

.contact-form form .caption{
    font-family: 'Poppins',sans-serif;
    height: 80px;
    font-size: 40px;
    font-weight: 100;
    height: auto;
}
.contact-form form input,.contact-form form textarea{
    color:white;
    outline: none;
    border:0px;
    border-bottom: 1px solid white;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    margin:30px 0px 30px 0px;
    text-indent: 10px;
    background-color: transparent;
}
.contact-form form input::placeholder,.contact-form form textarea::placeholder{
    color:rgb(255, 255, 255);
}

.captcha-div{
    width:0px;
}

.contact-form form input[type="reset"], .contact-form form input[type="submit"]{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    margin:30px 0px 10px 0px;
}


.footer{
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
}

.ctext{
    padding: 30px;
}

.social-media{
    align-self: center;
    width: 50%;
display: flex;
align-items: center;
justify-content: space-around;
}

.social-media a{
    color:white;
    font-size: 30px;
}

.footer .dots{
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    height:40px;
    width: 50px;//shold be given
    background-color: rgb(19,18,18);
    border-radius: 50px;
    margin-top: -20px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 800px){
    .inner-header{
        display: flex;
        justify-content: space-between;
        width:100vw;
    }
    .inner-header .logo-container{
        order:0;
    }
    .inner-header .nav{
        order:2;
    }
    .inner-header .ham-container{
        order :1;
    }
    .nav{
        align-self: flex-start;
        position: absolute;
        width: 100vw;
        justify-content: flex-end;
    }

    .nav ul,.hide{
        position: fixed;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        text-align: center;
        align-self: flex-start;
        top:80px;
        right:-330px;
        width:40%;
        height: 100vh;
        transition: right .5s;
    }

    .show{
        right:30;
        transition: 1s;
    }

    .hello_img{
        background-position: center;
    }
    .who_am_i{
        font-size: 22px;
        width:100vw;
    }

    .section{
        display: block;
    }


    //below both are for decremanting the height of title box
    .section-title-box{
        padding: 0;
    }
    .section-title-box>div{
        padding: 0;
    }


    .section-title-box,
    .section-content-box{
        width: 100%;
    }
    .section-title-box>div{
        width:100%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content-name , .contact-me .section-title-box>div>.content-name {
        word-break: normal;
        margin:0px;
        padding:0px;
        text-align: start;
        font-size: 50px;
        line-height: 45px;
    }
    .content-desc{
        margin: 0;
        padding: 0;
    }
    .content-num{
        margin:0;
        font-size: 55px;
    }


    .about-me .section-content-box{
        font-size: 16px;
        padding: 15px;
    }

//Ham Transoformation

.ham-container{
    display: flex;
    position: relative;
    left: -20px;
    height: 40px;
    width: 30px;
    align-self: center;
    cursor: pointer;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
}


.ham{
    position: relative;
    transition: all 0.5s;
}

    .ham,	
    .ham::before,
	.ham::after {
		width: 100%;
		height: 2px;
		background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
	}

	.ham::before,
	.ham::after {
		content: "";
		position: absolute;
	}
	.ham::before {
        transform: translateY(-10px);
        transition: all 0.5s;
	}
	.ham::after {
        transform: translateY(10px);
        transition: all 0.5s;
    }
	.ham.open {
		transition: all 0.3s;
		background: transparent;
	}

	.ham.open::before {
		transform: rotate(45deg);
        transition: all 0.5s;
        width: 30px;
	}
	.ham.open::after {
		transform: rotate(-45deg);
        transition: all 0.5s;
        width: 30px;
	}
	.ham::before {
		transform: rotate(0deg);
		transform: translateY(-10px);
        transition: all 0.5s;
        width:50%;
	}
	.ham::after {
		transform: rotate(0deg);
		transform: translateY(10px);
        transition: all 0.5s;
        width:50%;
        right: 0;
	}

    .card{
        width: 99vw;
    }
    
    .img{
        width: 90%;
    }
}


@media (max-width: 350px){
.content-name ,.contact-me .section-title-box>div>.content-name {
    font-size: 50px;
    width: 80px;
}
.content-desc{
    font-size: 15px;
}

.section-content-box,.section-title-box{
    width: 100%;
}

}

