@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


:root {
 --sameHeight:1000px
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background: linear-gradient(rgba(1, 16, 24, 0.589),rgba(1, 16, 24, 0.589)),url('./images/backGround1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;    
}

body{
    color:white;
    background-size: cover;
}


.header{
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 99;
    
}

.inner-header{
    width: 90%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    }

.logo{
    font-family:'Assistant',sans-serif;
    font-weight: 900;
    font-size: min(1.8em);
    color: white;
    line-height: 80px;/* same as parents height */
    letter-spacing: 5px;
    margin-left: 20px;
}

.nav{
    align-self: center;
    display: inline;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color:white;
    font-family: 'Poppins',sans-serif;
}

.nav ul li a:hover{
    color:rgb(255, 46, 99)
}

.ham-container{
    display: flex;
    height: 40px;
    width: 30px;
    margin-right:20px;
    align-self: center;
    cursor: pointer;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


.main{
    height: 100vh;
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.hello_img{
    background-image: url('./images/hello.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
    width: 80vw;
    background-position: center;
}

.who_am_i{
    color:skyblue;
    font-family:'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 44px;
    max-width: 800px;
    text-align: center;
}

.section{
    text-align: center;
    display: flex;
    margin-top: 0px;
}

/*whole title box*/
.section-title-box{
    width: 35%;
    padding-top: 50px;
    padding-right: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* inner box containing num name and desc only*/
.section-title-box>div{
    position: sticky;
    position: -webkit-sticky;
    top:80px;
    padding-bottom: 50px;    
    width:150px;
}

.section-content-box{
    background-color: rgb(19, 18, 18);
    width: 65%;
    align-self: center;
}

.content-num{
    display: block;
    text-decoration: overline;
    text-decoration-color: rgb(0, 214, 214);
    font-family: 'Poppins',sans-serif;
    transform: rotate(90deg);
    font-weight: 900;
    font-size: 4rem;
    margin: 30px 0px 0px 10px;
}
.content-name{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 200;
    word-break: break-all;
    line-height: 75px;
    text-align: end;
    width: 110px;
    margin-left: 30px;
}

.content-desc{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin:20px 0px 0px 15px;
    text-align: end;
}


.skills-list{
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Number Percents inside span tag*/
.skills-list span{
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    font-size: 48px;
    margin-left: 5%;
}

.skills-list>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px 20px 0px;
    
}

.my-skills{
    background-color: slateblue;
}

/*skill names div tag*/
.my-skills .section-content-box .skills-list>div>div{
    margin-left: 5%;
    margin-right: 10%;
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    font-weight: 500;
    width: 70%;
    height:50px;
    text-align: start;
    
}

.skill{
    width: 100%;
    height: 3px;
    background-color: rgba(202,202,202,.3);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.skill-fill{
    width: 100%;
    height: 7px;
    background-color: rgb(255, 255, 255);
    line-height: 3px;
}




/* Contact form*/

.contact-me{
    background-color: tomato;
}
 .contact-me .section-title-box>div>.content-name {
    width:160px;
    margin-left: -20px;
    
}

.contact-form form{
    padding:10%;
    display: flex;
    flex-direction: column;
}

.contact-form form .caption{
    font-family: 'Poppins',sans-serif;
    height: 80px;
    font-size: 40px;
    font-weight: 100;
    height: auto;
}
.contact-form form input,.contact-form form textarea{
    color:white;
    outline: none;
    border:0px;
    border-bottom: 1px solid white;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    margin:30px 0px 30px 0px;
    text-indent: 10px;
    background-color: transparent;
}
.contact-form form input::placeholder,.contact-form form textarea::placeholder{
    color:rgb(255, 255, 255);
}

.captcha-div{
    width:0px;
}

.contact-form form input[type="reset"], .contact-form form input[type="submit"]{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    margin:30px 0px 10px 0px;
}



@media (max-width: 800px){
    html{
        overflow-x: hidden;
    }
    .inner-header{
        width:100vw;
    }
    .ham{
        display: inline;
    }

    .nav ul{
        display: none;
        /* position:absolute;
        display: flex;
        flex-direction: column; */
    }

    .hello_img{
        background-position: center;
    }
    .who_am_i{
        font-size: 22px;
        width:100vw;
    }

    .section{
        display: block;
    }
    .section-title-box,
    .section-content-box{
        width: 100%;
    }
    .section-title-box>div{
        width:100%;
        padding-bottom: 50px;    
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content-name , .contact-me .section-title-box>div>.content-name {
        word-break: normal;
        margin:10px 0px 0px 20px;
        padding:0px;
        text-align: start;
        font-size: 78px;
    }
    .content-desc{
        width: 100px;
        margin: 0;
        padding: 0;
    }
    .content-num{
        margin:0;
    }

/*Ham Transoformation*/
.ham{
    position: relative;
    transition: all 0.5s;
}

    .ham,	
    .ham::before,
	.ham::after {
		width: 100%;
		height: 4px;
		background-color: #ff006a;
        border-radius: 10px;
        cursor: pointer;
	}
	.ham::before,
	.ham::after {
		content: "";
		position: absolute;
	}
	.ham::before {
        transform: translateY(-10px);
        transition: all 0.5s;
	}
	.ham::after {
        transform: translateY(10px);
        transition: all 0.5s;
    }
	.ham.open {
		transition: all 0.3s;
		background: transparent;
	}

	.ham.open::before {
		transform: rotate(45deg);
		transition: all 0.5s;
	}
	.ham.open::after {
		transform: rotate(-45deg);
		transition: all 0.5s;
	}
	.ham::before {
		transform: rotate(0deg);
		transform: translateY(-10px);
		transition: all 0.5s;
	}
	.ham::after {
		transform: rotate(0deg);
		transform: translateY(10px);
		transition: all 0.5s;
	}


}




